* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none !important;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
  min-width: 0;
  border-radius: 0;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.top-bar {
  width: 100%;
}

.top-bar__user__cart {
  background-color: #3ab54a;
}

.top-bar__user__cart > .dropdown-menu {
  width: 200px;
  height: 60px;
}

.account__dropdown-menu {
  display: none;
  margin: 0 -20px;
  position: absolute;
  transform: translate(10%, 10%);
  z-index: 20;
  text-align: left;
  background-color: #f4f4f4;
  padding: 0;
  border-radius: 4;
}

.account__dropdown-menu > .btn {
  border-radius: 0;
  border-bottom: 2px solid #3ab54a;
}

.account__dropdown:hover .account__dropdown-menu,
.account__dropdown:focus .account__dropdown-menu {
  cursor: pointer;
  display: block;
}

.cart-dropdown,
.account__dropdown {
  position: relative;
  padding: 5px 0;
}

.cart-dropdown__menu {
  width: 400px;
  min-height: 100px;
  visibility: hidden;
  position: absolute;
  transform: translate(calc(113px - 100%), 1%);
  margin-top: 4px;
  z-index: 10;
  text-align: left;
  background-color: #fff;
  padding: 0;
  border-radius: 0 0 5px 5px;
  border: 0 solid;
  box-shadow: 0px 1px 8px 0 rgba(0, 0, 0, 0.1);
}

.cart-dropdown:hover > .cart-dropdown__menu {
  visibility: visible;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-search {
  color: #fff;
}

#search {
  max-width: 250px;
  font-size: 13px;
  height: 34px;
}

.navbar-container {
  width: 100%;
  background-color: #f4f4f4;
}

.mySticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.navbar-brand {
  margin-right: 0;
}

.navbar-brand img {
  margin-right: 10px;
  margin-left: -10px;
}

nav {
  padding: 0;
}

.nav-link {
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 25px;
  font-weight: 500;
  white-space: nowrap;
}

.nav-link:hover {
  color: #3ab54a !important;
}

.fa-angle-right,
.fa-angle-left {
  display: block;
  padding: 20px;
  background-color: #333;
  color: #eee;
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  opacity: 0.4;
  transition: all 0.4s;
}

.fa-angle-right {
  right: 10px;
}

.fa-angle-left {
  left: 10px;
}

.fa-angle-right:hover,
.fa-angle-left:hover {
  opacity: 1;
  background-color: #3ab54a;
  color: #fff;
}

#services {
  margin: 20px 0;
}

.service {
  background: #f4f4f4;
  overflow: hidden;
  border-radius: 46px 0 0 46px;
  color: #444;
  font-size: 16px;
  font-weight: 600;
  margin: 15px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.service > .fa {
  background-color: #666;
  color: #fff;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding: 15px 0;
}

.service__text {
  line-height: 20px;
  margin: 0;
  padding-left: 10px;
}

.service__emphasis {
  color: #f48549;
}

#banner {
  padding-bottom: 40px;
  margin-bottom: 20px;
}

.banner {
  position: relative;
  display: block;
  overflow: hidden;
}

.banner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  z-index: 10;
  transition: all 0.4s;
}

#banner .row .col-12:hover .banner::before,
.banner:hover .banner::before,
.card-img:hover > .banner::before {
  top: 0;
  opacity: 1;
}

#banner .row .col-12:hover img,
.banner:hover img {
  transform: scale(1.2);
  transition: all 0.4s;
}

#products {
  background-color: #f4f4f4;
  padding-top: 40px;
}

.products__header {
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100%;
  position: relative;
}

.products__header h3 {
  text-transform: uppercase;
  font-size: 25px;
  margin: 0 0 2px 0;
  font-weight: 500;
  line-height: 50px;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}

.products__header::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 140px;
  height: 3px;
  background-color: #3ab54a;
}

.list-group-item {
  border: 0;
}

.category {
  padding: 0;
  margin: 0;
}

.category__list {
  background-color: #fff;
  border-radius: 2px;
  padding: 20px 0;
}

.category__list__item {
  margin: 0;
  padding: 5px !important;
  margin-top: -10px !important;
}

.category__list__item > a,
#footer > .container > .row > div > ul > li > a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  transition: transform 0.4s ease-out;
  display: block;
  font-weight: 500;
  padding: 0 0 0 15px;
  margin-right: -15px;
  font-size: 13px !important;
  position: relative;
}

.product__dropdown-menu {
  min-width: 50vw;
  transform: translateX(50%);
}

.product__dropdown-menu > .container > .row > div > ul > li > a {
  color: #3ab54a !important;
  font-size: 16px;
  margin: 10px 0;
  transition: all 0.4s;
}

.product__dropdown-menu > .container > .row > div > ul > li > a ~ ul > li {
  font-size: 14px;
  transition: all 0.4s;
}

.product__dropdown-menu
  > .container
  > .row
  > div
  > ul
  > li
  > a
  ~ ul
  > li
  > a:hover {
  color: #333 !important;
}

.price-before {
  display: block;
  text-decoration: line-through;
}

.best-seller {
  max-height: 30% !important;
  padding: 20px 10px;
}

.best-seller__container {
  max-height: 60% !important;
}

.best-seller__info > * {
  font-size: 14px;
}

.best-seller__price {
  color: #f48549 !important;
}

.my-dropdown {
  position: relative;
}

.my-dropdown > span::after {
  content: "";
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  left: 5px;
  bottom: -10px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 20px solid #3ab54a;
  z-index: 9999;
}

li.my-dropdown:hover > span::after {
  visibility: visible !important;
}

.my-dropdown-menu {
  position: absolute;
  top: 52px;
  transform: translateX(-40%);
  display: none;
  z-index: 10;
  background-color: #fff;
  margin-top: -40px;
  border-top: 4px solid #3ab54a;
}

.my-dropdown:hover > .product__dropdown-menu {
  display: block;
}

.product__dropdown-menu > .container > .row > div > ul > li > a:hover {
  color: #3ed355 !important;
}

.category__list__item:hover > a,
#footer > .container > .row > div > ul > li:hover > a {
  transform: translate(20px, 0);
  color: #3ab54a !important;
}

.sale {
  overflow: hidden;
}

.sale::before {
  content: "SALE";
  width: 100%;
  top: -15%;
  left: -35%;
  padding-right: 50px;
  padding-top: 60px;
  transform: rotate(-45deg);
  display: block;
  text-align: center;
  position: absolute;
  z-index: 1;
  font-size: 25px;
  color: #f4f4f4;
  background-color: #f48549;
}

.product {
  font-weight: 500;
  position: relative;
  padding: 0 5px;
  margin-bottom: 10px;
  height: 350px;
}

.product > .card {
  height: 100%;
}

.product__image {
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
}

.product__image > img {
  width: 150px;
  height: 150px;
}

.product__info {
  padding: 20px 20px 0;
  height: 50%;
}

.product__name,
.product__price {
  font-size: 20px;
}

.product__name:hover {
  transition: all 0.4s;
  color: #3ab54a;
}

.product__price {
  color: #f48549;
}

.slider__item {
  padding: 5px;
  padding-left: 20px;
}

.load-more > .btn {
  border-radius: 0;
}

.loader {
  width: 75px;
  height: 75px;
  margin: 0;
  background: transparent;
  border-top: 4px dotted #3ab54a;
  border-right: 4px dotted transparent;
  border-radius: 50%;
  -webkit-animation: 1s spin linear infinite;
  animation: 1s spin linear infinite;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.img-fluid {
  max-width: 80% !important;
  max-height: 80% !important;
  height: 200px !important;
}

.btn-slider {
  position: absolute;
  top: -45px;
  right: 5px;
  height: 20px;
  width: 40px;
  display: grid;
  place-content: center;
}

.btn-slider > span {
  font-size: 12px;
}

.carousel {
  width: 100%;
  height: auto;
}

#contact {
  background: url("../img/newsletter-bg.jpg") rgba(0, 0, 0, 0.4) no-repeat
    center/cover;
  background-blend-mode: multiply;
}

.contact {
  padding: 75px 0 10px;
  min-height: 300px;
  margin: 0;
}

.slider {
  padding: 10px 0;
  margin: 0 -15px;
}

.slider-controls {
  display: block;
  position: absolute;
  top: -55px;
  right: 0;
}

#customer {
  background: url("../img/partner-bg.jpg") rgba(0, 0, 0, 0.8) no-repeat
    center/cover;
  background-blend-mode: multiply;
  height: 300px;
}

#news {
  margin-bottom: 20px;
  padding: 0;
  padding-right: 20px;
}

.news {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 300px;
}

.news__body {
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.4s;
  position: absolute;
  padding: 10px 20px;
  transform: translateY(73%);
}

.news:hover > .news__body {
  transform: translateY(0);
}

.news__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#partners {
  margin-top: 10px;
}

#footer > .container > .row > div > ul > li > a {
  font-size: 12px;
  font-weight: normal;
  padding-left: 0;
}

#mapid {
  max-width: 100%;
  max-height: 100%;
}

#toTop {
  position: fixed;
  outline: none !important;
  background-color: #f48549;
  opacity: 0.6;
  transition: all 0.4s;
  bottom: 20px;
  right: 20px;
  margin: 0;
}

#toTop > .fa {
  font-size: 30px;
  color: #f4f4f4;
}

#toTop:hover {
  opacity: 1;
}

.fadeIn {
  visibility: visible;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeOut {
  visibility: hidden;
  animation: fadeout 1s;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.page__title {
  position: relative;
}

.page__title > {
  text-transform: uppercase;
}

.page__title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3ab54a;
  bottom: -4px;
  left: 0;
}

.news__nav__item {
  transition: all 0.4s;
  display: block;
  padding: 0.75rem 1.25rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.news__nav__item:last-child {
  border-bottom: 0;
}

.news__nav__item:hover {
  cursor: pointer;
  background-color: #fff;
}

.news__nav__link {
  font-size: 14px;
  transition: all 0.4s;
}

.news__nav__item:hover > .news__nav__link {
  color: #3ab54a;
}

.news__post {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.news__post__info {
  color: #999;
}

#postCommentsCount,
#postAuthor {
  font-weight: 500;
}

.news__post__img {
  margin-bottom: 10px;
}

.post__body {
  padding-left: 20px;
  padding-right: 20px;
}

.post__body > cite,
.post__body > em {
  font-size: 0.95em;
}

.user__comment {
  font-weight: 400;
  padding: 0;
  color: #666;
  flex: 3;
}

.user__comment__content {
  font-size: 16px;
}

.user__avatar {
  width: 150px;
  height: 150px;
  text-align: center;
  flex: 2;
  padding: 0;
}

#commentSectionCount {
  font-size: 14px;
}

#productView {
  margin-top: 40px;
}

#previewImage {
  width: 100%;
  height: 300px;
}

#previewContainer {
  border: 1px solid #bbb;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.product-Preview__name {
  padding-bottom: 10px;
  border-bottom: calc(1px / 80) solid #3ab54a;
}

.btn-add {
  background: #3ab54a;
  color: #fff;
  border-radius: 0;
  height: 40px;
  width: calc(100% - 70px);
  line-height: 14px;
  padding: 0 30px;
}

.btn-add__emphasis {
  color: #fff;
  font-size: 20px;
}

.btn-add__emphasis:hover {
  color: #fff;
}

#quantity {
  height: 40px;
  width: 70px;
  border-radius: 0;
  color: #000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.call {
  height: 50px;
  width: 100%;
  margin: 10px auto;
  padding: 0 10px;
}

.callicon {
  float: left;
  width: 50px;
  height: 50px;
  line-height: 45px;
  text-align: center;
  color: #3ab54a;
  border: 3px solid #3ab54a;
  border-radius: 100%;
}

.call > a {
  display: block;
  padding-left: 65px;
  color: #252525;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  line-height: 20px;
  text-transform: Capitalize;
}

.call > a > span {
  font-size: 30px;
  color: #fe4200;
  font-weight: bold;
  line-height: 24px;
}

#myTabContent,
#formSearchProduct,
.card,
.products__item,
.user {
  border-radius: 5px;
  border: 0px solid;
  box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.1);
}

#myTabContent,
#relatedProducts {
  border-top: 4px solid #3ab54a;
}

.realatedProducts__title {
  margin: 0;
  font-size: 18px;
}

#relatedProducts {
  margin-top: -4px;
}

#formSearchProduct {
  padding: 0;
}

#inputSearchProduct,
#btnSearchProduct {
  margin: 0;
}

#inputSearchProduct {
  border-radius: 5px 0 0 5px;
}

#btnSearchProduct {
  border-radius: 0 5px 5px 0;
}

.productsGallery__banner {
  padding: 0px 5px;
}

.productsGallery__banner > img {
  width: 100% !important;
  height: 250px !important;
}

.btn-view,
.btn-view-active {
  padding: 4px 8px;
  color: #fff !important;
}

.btn-view {
  background-color: #ddd;
}

.btn-view-active {
  background-color: #3ab54a;
}

.btn-view-active:hover > i,
.btn-view:hover {
  color: #aaa !important;
}

.products__item {
  margin-bottom: 20px;
  padding: 5px 0 10px 20px;
}

.products__item__button {
  width: 100px;
  margin-top: 10px;
}

.cart-dropdown__menu__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px 0;
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.cart-dropdown__menu__item > img {
  width: 10%;
  flex: 1;
}

.cart-dropdown__menu__item > a {
  flex: 3;
  text-align: center;
}

.cart-dropdown__menu__item > span {
  flex: 1;
}

.cart-dropdown__menu__btns {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-dropdown__menu__btns > a {
  margin-left: 5px;
  margin-right: 5px;
}

.customerCart__view {
  min-height: 100%;
}

td,
th {
  text-align: center;
  vertical-align: middle !important;
}

.table__updateQuantity {
  display: inline-flex;
}

.table__updateQuantity > input {
  width: 4rem;
  border-radius: 0;
}

.table__updateQuantity > button > span,
button[name="remove"] > span,
.product__button > a > i {
  pointer-events: none;
}

.checkout__form__btn_back {
  font-size: 1.3rem;
}

#provinceWarning,
#phoneWarning {
  display: none;
}

.bill__discount,
.bill__fees,
.bill__items__item div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bill__item {
  padding: 30px 0;
}

.bill__fees {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bill__fees > p {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.bill__fees > p > span {
  float: right;
}

.bill__items {
  padding-top: 20px;
}

.bill__items__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bill__items__item div {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 70px;
  height: 70px;
  text-align: center;
}

.bill__items__item div img {
  width: 60px;
  height: 60px;
}

.bill__items__item p {
  font-size: 1.2rem;
  margin-left: 10px;
}

.quantityCircle {
  position: absolute;
  padding: 0.1em 0.5em;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: rgba(155, 155, 155);
  color: #fff;
}

.step2,
.showBill {
  display: none;
}
